.hiddenUpgrade {
    display: none !important;
   
}
.impossibleUpgrade{
    opacity: 0.6 !important;
    background-color: black; 
    color: white;
    cursor: not-allowed !important;
}
.upgrade{
    background-color: white !important; 
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s ease-out, margin-bottom 0.1s ease-out;
}
body{
    background-color: black;
    color : white;
}

.card {
    color: black !important;
}

html {
    height: 100%;
  }
  body{
    background-color: #130f40;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .sidebar{
    background-color: #30336b !important;
    color: white;
    height: 100vh;
    padding-right: 5px;
  }
  .amelio{
    padding: 0px;
  }

  .card-header {
    background-color: #30336b;
    border: 1px solid #30336b;
    color: white;
    font-weight: bold;
  }

  .card {
    border: 1px solid #30336b;
    border-radius: 7px;
    margin-bottom: 15px;
  }
  .sideTitle{
    font-size: 20px;
    letter-spacing: 3px;
    width: 80%;
  }
  .navbar-brand {
    display: block !important;
  }
  .JoueurEnLigne{
    margin-bottom: 20px;
  }
  .tchatBox{
  width: 100%;
  }
  .inputMessage{
    width: 97%;
  }
  .messageList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 88vh;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.messageList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.messageList {
    -ms-overflow-style: none;
}
  
  ::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
.card-footer{
  padding: 0;
}
.divider{
  border: 2px solid #130f40;
  margin-bottom: 10px;
}